[Unit]
Description=Telnet startup script

[Service]
ExecStart=/etc/init.d/xinetd start
ExecReload=/etc/init.d/xinetd reload
ExecStop=/etc/init.d/xinetd stop

[Install]
WantedBy=multi-user.target